.opacity (@p) {
	-ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(Opacity=@{p})";
	filter: ~"alpha(opacity=@{p})";
	-moz-opacity: @p*0.01;
	-khtml-opacity: @p*0.01;
	opacity: @p*0.01;
}
.shadow (@shadow) {
	box-shadow: @shadow;
	-moz-box-shadow: @shadow;
	-webkit-box-shadow: @shadow;
}
.radius ( @r ) {
	border-radius: unit(@r , px);
	-moz-border-radius: unit(@r , px);
	-webkit-border-radius: unit(@r , px);
}
.button( @color ) {
	color: #fff;
	outline: none;
	background-color: @color;
	border: 1px solid darken(@color , 30%);
	.shadow( 0px 1px 1px 0px darken(@color , 30%) ~"," inset 0px 0px 0px 1px lighten(@color , 15%) );
	.radius( 2 );
	
	&:hover { background-color: darken(@color , 4%); }
}

::selection {
	background-color: #000;
	color: #fff;
}
img { border: none; }
a { text-decoration: none; }
.clear { clear: both; width: 100%; }
body {
	display: block;
	margin: 0;
	padding: 0;
	min-width: 600px;
	
	background-color: #E6E8EC;
	color: #505050;
	
	font-family: 'Roboto', Arial, sans-serif;
}
div#header {
	display: block;
	margin: 0;
	padding: 10px 2%;
	background-color: #EFF1F7;
	border-bottom: 1px solid #999;
	overflow: auto;
	text-shadow: -1px 1px 5px #fff;
}
h1 {
	margin: 0 2% 0 0;
	color: #5F5F5F;
	font-size: 50px;
	float: left;
	border-right: 1px solid #E6E6E6;
	padding-right: 1%;
	min-height: 76px;
	
	&:hover { color: #74839E; }
	
	a { color: inherit; }
}
h1, h2, h3 {
	font-family: 'Roboto Condensed', Arial;
}

div#navigator {
	float: left;
	min-width: 300px;
	
	ul {
		margin: 0;
		padding: 0;
		display: block;
		list-style-type: none;
		width: 100%;
		float: left;
		
		li {
			float: left;
			margin: 0 20px;
			padding: 0;
			min-width: 56px;
			position: relative;
			
			text-align: center;
			color: #888;
			font-weight: 700;
			font-family: 'Roboto Condensed', Arial, sans-serif;
			
			&.selected a { color: #4A6080; }
			
			a {
				display: block;
				height: 76px;
				color: inherit;
				
				&:hover { color: #555; }
				
				span {
					padding: 56px 0 0 0;
					display: block;
				}
			}
			
			a:before {
				position: absolute;
				top: 0;
				left: 0;
				width: 56px;
				text-align: center;
				font-family: 'fontello';
				font-style: normal;
				font-weight: normal;
				font-size: 50px;
			}
			&#nav-bio a:before { content: '\77ff'; }
			&#nav-work a:before { content: '\2222'; }
			&#nav-contact a:before { content: '\1234'; }
		}
	}
}
div.column {
	margin-top: 20px;
	float: left;
	min-width: 500px;
	max-width: 32.33%;
	margin-left: 0.5%;
	padding-right: 0.5%;
	border-right: 1px solid #ddd;
	.opacity( 50 );
	
	&.selected { .opacity( 100 ); }
}
h2 {
	margin: 0;
	padding: 0;
	color: #999;
	font-weight: 700;
	font-size: 40px;
}
div#content {
	width: 300%;
	position: relative;
	left: 0;
}

div#bio-element {
	width: 530px;
	margin-left: 0.5%;
	text-align: justify;
	
	a {
		color: #4a6080;
		font-weight: 500;
	}
	strong {
		color: #000;
		font-weight: 500;
	}
		
	p,div#short-bio {
		font-size: 17px;
		line-height: 22px;
		font-weight: 400;		
	}

	img#bio-picture {
		float: left;
		margin: 0 30px 20px 0;
		display: none;
	}
}
button#hire,
button#cv {
	outline: none;
	cursor: pointer;
	padding: 5px 15px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 18px;
}
button#hire {
	.button( #6F6B99 );
}
button#cv {
	.button( #3DA3BE );
}


div#work-element {
	width: 32.33%;
	h3 {
		cursor: pointer;
		margin-bottom: 0;
		color: #9FA3B1;
		
		&.opened { color: inherit!important; }
		&:hover { color: #74839E; }
	}
	
	#web-work img { height: 60px; }
	
	div.work-cont {
		display: none;
		text-align: justify;
		
		&.opened {
			display: block;
		}
		
		img {
			height: 100px;
			.opacity( 92 );
			
			&:hover { .opacity( 100 ) };
		}
	}
}
div#contact-element {
	dd {
		padding: 0;
		margin: 0;
		font-size: 25px;
		font-family: monospace;
		color: #74839E;
		
		a { color: inherit; }
	}
	
	div#links {
		h3 { margin-bottom: 0; }
		a {
			color: #bbb;
			font-size: 32px;
			font-weight: 700;
			font-family: 'Roboto Condensed', Arial, sans-serif;
			display: inline-block;
			padding-left: 32px;
			margin-right: 15px;
			min-height: 32px;
			
			&:hover { color: #999; }
			
			&#tumblr { background: transparent url('../images/icons/tumblr.png') left no-repeat; }
			&#github { background: transparent url('../images/icons/github.png') left no-repeat; }
			&#fpx { background: transparent url('../images/icons/500px.png') left no-repeat; }
			&#deviantart { background: transparent url('../images/icons/deviantart.png') left no-repeat; }
		}
	}
}