// out: style.css, sourcremap: false, compress: true
/*********************
    LESS FUNCTIONS
*********************/
@font-family:Roboto;

.opacity (@p) {
    -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(Opacity=@{p})";
    filter: ~"alpha(opacity=@{p})";
    -moz-opacity: @p*0.01;
    -khtml-opacity: @p*0.01;
    opacity: @p*0.01;
}
.shadow ( @shadow ) {
    box-shadow: @shadow;
    -moz-box-shadow: @shadow;
    -webkit-box-shadow: @shadow;
}
.radius ( @r ) {
    border-radius: @r;
    -moz-border-radius: @r;
    -webkit-border-radius: @r;
}
.button( @color ) {
    display: inline-block;
    margin: 0.2rem;
    color: @color;
    font-family: '@{font-family} Condensed', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    outline: none;
    cursor: pointer;
    padding: 0.4rem 1.2rem;
    background-color: rgba(255,255,255,0.2);
    border: 2px solid @color;
    .radius( 3px );
    .transition( 0.1 );

    &:hover { color:#fff; background-color: @color; }
    &:active { color:#fff; background-color: lighten( @color, 10% ); }
}
.transition( @time ) {
    -webkit-transition: ~'all @{time}s ease-out';
       -moz-transition: ~'all @{time}s ease-out';
         -o-transition: ~'all @{time}s ease-out';
            transition: ~'all @{time}s ease-out';
}
.shadow-light {
    text-shadow: 0 1px 1px rgba(255,255,255,0.4);
}

/*********************
       COLORS
*********************/
@orange: #FF7A3C;
@darkOrange: #FF533C;
@blue: #14528B;
@text: #333;
@text-medium: #666;
@text-light: #999;

::selection {
    background-color: #000;
    color: #fff;
}
img {
    border: none;
}
a {
    outline: none;
    color: inherit;
    text-decoration: none;
}

body {
    display: block;
    margin: 0;
    padding: 0;

    background: @blue url('../images/background.jpg') center no-repeat;
    background-size: cover;
    background-attachment: fixed;

    color: @text;
    font-family: '@{font-family}', Arial, sans-serif;
    text-align: center;
}
body:before {
    content: '';
    z-index: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: fade(@blue,50%);
}
/*********************
    FIXED BG IMAGE
    FOR OLD IEs
*********************/
#background {
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

@window-space: 5rem;

#window {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 80%;
    max-width: 800px;
    margin: @window-space auto;
    background-color: #fff;
    .radius( 10px );
    .shadow( ~"0 2px 2px rgba(0,0,0,.4), 0 1px 5px rgba(0,0,0,.25)" );
    z-index: 1;
}

header {
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    .shadow( 0 1px 4px rgba(0,0,0,.1) );
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5rem;
    width: 80%;
    max-width: 800px;
    margin: @window-space auto 0;
    z-index: 2;
}

#content {
    position: fixed;
    top: 10rem;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto @window-space;
    width: 80%;
    max-width: 800px;
    overflow-y: auto;
    overflow-x: hidden;
    .transition( 0.2 );
}

h1, h2, h3 {
    font-family: '@{font-family} Condensed', Arial;
}

h1 {
    margin: 0;
    padding: 2.5rem 0 0 0;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 1.6rem;
    font-weight: 400;
}
h2 {
    margin: 0 0 1rem;
    padding: 0;
    color: @darkOrange;
    font-size: 1rem;
    line-height: 2rem;
    word-break: break-word;
    text-transform: uppercase;
}
h3 {
    margin-bottom: 0;
    font-weight: 300;
    font-size: 1.5rem;
    color: @text-light;
}

#avatar {
    height: 5rem;
    width: 5rem;
    margin: 1rem;
    .radius( 50% );
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: -2.5rem;
    margin-left: -2.5rem;
    .shadow( ~"0 1px 2px rgba(0,0,0,.5), 0 2px 7px rgba(0,0,0,.4)" );
}

#bio-header:before { content: '\e804'; }
#work-header:before { content: '\e805'; }
#contact-header:before { content: '\e806'; }
#links-header:before { content: '\e809'; }
.header-icon:before {
    background: #ff533c;
    background: -moz-linear-gradient(top, #ff533c 0%, #c60074 100%);
    background: -webkit-linear-gradient(top, #ff533c 0%,#c60074 100%);
    background: linear-gradient(to bottom, #ff533c 0%,#c60074 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff533c', endColorstr='#c60074',GradientType=0 );
}
.icon:before {
    .radius( 50% );
    display: block;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    font-size: 1.5rem;
    margin: .5rem auto;
    color: #fff;
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
}
.icon-github:before { content: '\e800'; background-color: #333; }
.icon-500px:before { content: '\e801'; background-color: #222; }
.icon-deviantart:before { content: '\e802'; background-color: #05cc47; }
.icon-tumblr:before { content: '\e803'; background-color: #36465D; }
.icon-pinterest:before { content: '\e807'; background-color: #e10000; }
.icon-foursquare:before { content: '\e808'; background-color: #2d5be3; }

article {
    padding: 2rem 10% 5rem;
}
.bio {
    a {
        color: darken( @darkOrange, 12% );
    }
}
#bio-article {
    b {
        color: #333;
        font-weight: 400;
    }

    a.bt {
        display: inline-block;
    }
}
#bio {
    font-size: 1.4rem;
    line-height: 1.7em;
    font-weight: 300;
    margin: 0;
    padding: 0 0 1rem 0;
}
#cv {
    .button( @darkOrange );
}
#blog {
    .button( @blue );
}


.work-cont {
    a {
        display: inline-block;
        margin: 0.6rem;
    }

    img {
        .radius( 50% );
        .opacity( 92 );

        &:hover { .opacity( 100 ) };
    }
}
dt {
    color: #aaa;
    font-weight: 300;
    font-size: .85rem;
}
dd {
    padding: 0;
    margin: 0 0 1rem 0;
    font-size: 1.4rem;
    color: #222;
    .transition( 0.3 );

    &:hover { color: @darkOrange; }
}
#links {
    text-align: center;
    a {
        margin: .5rem;
        display: inline-block;
    }
    span {
        display: none;
    }
}

@media screen and (max-width:640px){
    html { font-size: 85%; }
    dd {
        font-size: 1.3rem;
    }
}

@media screen and (max-width:400px){
    html { font-size: 75%; }
}
