doctype html
html
  head
    title Rigas Papas
    meta(http-equiv='Content-type', content='text/html; charset=utf-8')
    meta(name='description', content='My name is Rigas Papas. This is my personal website')
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='stylesheet', type='text/css', href='css/icons.css')
    link(rel='stylesheet', type='text/css', href='css/style.min.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='format-detection', content='telephone=no')
  body
    #window
      header
        img#avatar(alt='This is me!', src='images/avatar.jpg', width='256', height='256')
        h1 Rigas Papas
      section#content
        article#bio-article
          h2
            .icon.icon-person-circle
            | Bio
          p#bio
            | My name is
            b  Rigas
            | . I live in
            a(href='http://goo.gl/maps/XUJIy')  Athens, Greece
            br
            | . I am a
            a(href='http://www.ece.ntua.gr/')
              b  computer engineer
            | , with endless passion about programming &amp; technology.
            br
            a(href='http://500px.com/rhgas')
              b  Photography
            |  is my hobby.
          div
            a#blog(href='/blog')
              | Read my blog
            a#cv(href='cv.html')
              | R&eacute;sum&eacute;
        article#work-article
          h2
            .icon.icon-work
            | Work
          .work-section
            #web-work.work-cont
              a(href='/ParagraphUI')
                img(alt='Paragraph UI', src='images/web/paragraphui.png')
              a(href='http://www.stantza.gr')
                img(alt='stantza.gr', src='images/web/stantza.png')
        article#contact-article
          h2
            .icon.icon-mail
            | Contact
          dl
            dt E-mail
            dd
              a(href='mailto:rigaspapas@hotmail.com') rigaspapas@hotmail.com
            dt Secondary e-mail
            dd
              a(href='mailto:rigaspapas@gmail.com') rigaspapas@gmail.com
            dt Skype name
            dd rigaspapas
        article#links-article
          h2
            .icon.icon-link
            | Links
          #links
            //- Function for printing links
            mixin IconLink(name, text, link)
              a(id=name, href=link)
                i.link-icon.icon(class!=attributes.IconClass)
                span= text
            +IconLink('github', 'Github', 'https://github.com/rigaspapas/')(IconClass='icon-github')
            +IconLink('500px', '500px', 'http://500px.com/rhgas')(IconClass='icon-500px')
            +IconLink('tumblr', 'Design blog', 'http://footballdesign.tumblr.com/')(IconClass='icon-tumblr')
            +IconLink('deviantart', 'DeviantArt', 'http://rigaspapas.deviantart.com/')(IconClass='icon-deviantart')
            +IconLink('pinterest', 'Pinterest', 'https://www.pinterest.com/rigaspapas/')(IconClass='icon-pinterest')
            +IconLink('foursquare', 'Foursquare', 'https://foursquare.com/rigaspapas')(IconClass='icon-foursquare')
    //- If IE lower than 10
    <!--[if lt IE 10]>
      img#background(alt='background-image', src='images/background.jpg')
    <![endif]-->
    script(type='text/javascript', src='js/load-fonts.js')
    //- Google analytics
    script(type='text/javascript').
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24634246-1']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
