section
  h1
    i.h-border
    span.txt Professional experience

  .box-wrapper
    .entry.box-item
      .entry-image
        img(alt='Blueground', src='../images/cv/blueground.jpg')
      .year December 2019 - Present
      .entry-title
        a(href='https://www.theblueground.com')
          | Blueground
      .description
        | Working as SDET and DevOps, implementing the next generation of
        |  the infrastructure as code, using technologies like Kubernetes,
        |  Docker, AWS, Jenkins, Terraform.
    .entry.box-item
      .entry-image
        img(alt='Transifex', src='../images/cv/transifex.png')
      .year November 2017 - November 2019
      .entry-title
        a(href='https://www.transifex.com')
          | Transifex
      .description
        | Worked as backend engineer. Developed integrations as micro-services
        |  using Python, NodeJS, Flask, ExpressJS, Celery,
        |  Postgresql, Docker & Kubernetes. Developing & maintaining an open-source
        |  collection of file parsers written in Python, a CLI tool and various
        |  other integrations, including Slack, GitHub, Bitbucket, Zendesk, Drupal &amp;
        |  WordPress.
    .entry.box-item
      .entry-image
        img(alt='Arrikto', src='../images/cv/arrikto.png')
      .year August 2016 - September 2017
      .entry-title
        a(href='http://www.arrikto.com')
          | Arrikto
      .description
        | Developed a full-featured user system from scratch that supports
        |  authentication through identity providers (LDAP, social media) and
        |  exposes a RESTful API. Implemented an OAuth 2.0 server to allow access to
        |  external services. Gained a strong experience with Python and Django,
        |  dealing with complex design issues and contributing to open-source
        |  projects.
    .entry.box-item
      .entry-image
        img(alt='KEPYES', src='../images/cv/kepyes.png')
      .year November 2015 - August 2016
      .entry-title
        a(href='http://www.army.gr/default.php?pname=kepyes')
          | Hellenic Army Support Center
      .description
        | Served my compulsory time in the Greek Army developing and maintaining
        |  software in Java and working with Oracle database systems.
    .entry.box-item
      .entry-image
        img(alt='Advantis', src='../images/cv/advantis.png')
      .year May 2015 - July 2015 (intern)
      .entry-title
        a(href='https://advantis.io') Advantis Medical Imaging
      .description
        | Developed a web application for a medical platform that includes
        |  tomograph image manipulation and 3D rendering of brain fibers.
        |  Implemented a front-end user system using Angular JS.
    .entry.box-item
      .entry-image
        img(alt='reEmbed', src='../images/cv/reembed.png')
      .year October 2013 - February 2014 (intern)
      .entry-title
        a(href='https://www.reembed.com') reembed.com
      .description
        | Developed both front-end and back-end software using PHP, HTML, CSS and
        |  Javascript. Learned how to work with Git for version control. Had the
        |  chance work in a team for the first time and create a solid product
        |  together. Reembed.com serves about 5 million videos every day, so I feel
        |  glad that my work is discoverable.

section
  h1
    i.h-border
    span.txt Education
  .box-wrapper
    .entry.box-item
      .entry-image
        img(alt='NTUA', src='../images/cv/ntua.png')
      .year September 2008 - February 2015
      .entry-title
        a(href='http://ece.ntua.gr') Electrical &amp; computer engineering
      .description
        | Studied in&nbsp;
        a(href='http://www.ntua.gr') National Technical University of Athens.
        |  5-year studies, equivalent to Master, 300 ECTS. Grade 7.2 / 10.
        |  Diploma thesis:&nbsp;
        a.u(href='https://onedrive.live.com/redir?resid=172D4D2E4FF229F7!84798&authkey=!ADWd2u3lcQBdMAE&ithint=file%2cpdf') Analysis and optimization of Cloud software in shared environment with adaptive resource allocation

section
  h1
    i.h-border
    span.txt Open-source contributions
  ul.box-wrapper
    li.box-item
      a(href='https://github.com/transifex/transifex-client/pulls?q=is%3Apr+author%3Arigaspapas') transifex/transifex-client
    li.box-item
      a(href='https://github.com/transifex/openformats/pulls?q=is%3Apr+author%3Arigaspapas') transifex/openformats
    li.box-item
      a(href='https://github.com/PyGithub/PyGithub/pull/1021') PyGithub/PyGithub
    li.box-item
      a(href='https://github.com/spulec/moto/pull/2970') spulec/moto
    li.box-item
      a(href='https://github.com/miguelmota/cointop/pull/45') miguelmota/cointop
    li.box-item
      a(href='https://github.com/erdem/DRF-TDD-example') erdem/DRF-TDD-example
    li.box-item
      a(href='https://github.com/timothycrosley/isort/pull/752') timothycrosley/isort
    li.box-item
      a(href='https://github.com/rigaspapas/pathdiag') rigaspapas/pathdiag
    li.box-item
      a(href='https://github.com/AliasIO/wappalyzer/pull/2031') AliasIO/wappalyzer

section
  h1
    i.h-border
    span.txt Links
  ul.center.box-wrapper.table
    li
      a(href='https://500px.com/rhgas')
        i.icon.icon-500px
        .small  500px
    li
      a(href='https://github.com/rigaspapas')
        i.icon.icon-github
        .small  GitHub
    li
      a(href='mailto:rigaspapas@gmail.com')
        i.icon.icon-mail
        .small  Email
