doctype html
html
  head
    title Rigas Papathanasopoulos
    meta(http-equiv='Content-type', content='text/html; charset=utf-8')
    meta(name='description', content='Rigas Papathanasopoulos. Software engineer @ Transifex.')
    link(rel='shortcut icon', href='${require(`../images/favicon.ico`)}')
    link(rel='stylesheet', type='text/css', href='style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='format-detection', content='telephone=no')
  body
    header
      img.logo(alt='logo', src='../images/logo.png')
      h1 Rigas Papathanasopoulos
      h2 Software engineer
      a.btn_blog(href='/blog')
        | 📰  &nbsp;Read my blog
    article
      include cv.pug
    //- If IE lower than 10
    <!--[if lt IE 10]>
      img#background(alt='background-image', src='${require(`../images/background.jpg`)}')
    <![endif]-->
    script(async, type='text/javascript').
      window.onload = function(){
        var googleFonts = document.createElement('link');
        googleFonts.setAttribute('rel', 'stylesheet');
        googleFonts.setAttribute('type', 'text/css');
        googleFonts.setAttribute('href', 'https://fonts.googleapis.com/css?family=Roboto:300,400,700|Exo:400,700');
        document.getElementsByTagName('head')[0].appendChild(googleFonts);
      }
    //- Google analytics
    script(async, type='text/javascript').
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-24634246-1', 'auto');
      ga('send', 'pageview');
