article {
  padding: 1rem 4rem;
  box-sizing: border-box;
  margin: 2rem auto;
  background-color: #fff;

  .color-dark;
  line-height: 1.4em;
  text-align: left;

  position: relative;
  width: 100%;
  max-width: 720px;
  z-index: 2;

  * {
    word-break: break-word;
  }

  a {
    text-decoration: none;
    color: inherit;

    &:hover { color: @purple-dark; }
  }

  section{
    margin: 0 auto 1.5rem;
  }

  h1 {
    .xbig;
    .font-special;
    line-height: 2em;
    margin: 2rem 0;
    position: relative;
    .weight-bold;
    text-align: left;

    // Middle-border
    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      height: 0;
      width: 100%;
      border-bottom: 1px solid rgba(0, 0, 0, 0.5);
      z-index: 0;
    }

    .txt {
      display: inline-block;
      background-color: #fff;
      position: relative;
      z-index: 1;
      padding: 0 .75em 0 0;
    }
  }
}

ul {
  list-style-type: none;
  .nospace;
}
li {
  padding: 0 0 1rem 0;
  line-height: 1.5em;
}


// HEADER ICONS
.h-icon {
  position: absolute;
  left: -3rem;
  top: -.1rem;
  width: 3rem;
  text-align: center;
  .big;
}

// WORK & EDUCATION ENTRIES
.timeline {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 3rem;
    bottom: 0;
    left: -1.5rem;
    border-left: 1px solid fade(@purple-white, 40%);
  }
}
.year:before {
  content: '';
  position: absolute;
  top: 0;
  left: -1.5rem;
  display: block;
  width: 8px;
  height: 8px;
  margin-left: -3px;
  margin-top: .5rem;
  background-color: @purple-dark;
  box-sizing: border-box;
  border-radius: 50%;
}

.entry {
  margin-bottom: 1.5rem;
  line-height: 1.6em;
}

.entry-image {
  float: right;
  margin-top: 1rem;
  width: 4rem;
  height: 4rem;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}
.year {
  position: relative;
  .small;
  color: @purple-dark;
  .uppercase;
  .weight-bold;
}
.entry-title {
  .weight-bold;
}
.role {
  text-decoration: underline;
}
.description {
  .weight-light;
}


// OPEN-SOURCE
.list-title {
  text-decoration: underline;
}
.list-description {
  .small;
}
