article {
  width: 90%;
  max-width: 50rem;
  padding: 1rem 3rem;
  box-sizing: border-box;
  margin: 2rem auto;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 5px 1px rgba(0,0,0,.06);

  .color-normal;
  line-height: 1.4em;
  text-align: left;
  font-family: @font-family-header;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  z-index: 2;
  .transition(.5);

  &.hidden {
    overflow: hidden;
    bottom: 100%;
    opacity: 0;
  }

  ::selection {
    background-color: fade(@accent-light, 80%);
  }

  * {
    word-break: break-word;
  }

  a {
    text-decoration: none;
    color: inherit;

    &:hover { color: @accent-medium; }
  }

  section{
    margin: 0 0 1.5rem 0;
  }

  h1 {
    text-transform: uppercase;
    .xbig;
    font-family: @font-family;
    line-height: 2em;
    position: relative;
    color: #aaa;

    // Middle-border
    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      height: 0;
      width: 100%;
      border-bottom: 1px solid #ddd;
      z-index: 0;
    }

    .txt {
      display: inline-block;
      background-color: #fff;
      position: relative;
      z-index: 1;
      padding-right: 1em;
    }
  }
}

ul {
  list-style-type: none;
  .nospace;
}
li {
  padding: 0 0 1rem 0;
  line-height: 1.5em;
}
b {
  .color-dark;
}

// HEADER ICONS
.h-icon {
  position: absolute;
  left: -3rem;
  top: 0;
  width: 3rem;
  text-align: center;
  font-size: .8em;
}

// WORK & EDUCATION ENTRIES
.timeline {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 3rem;
    bottom: 0;
    left: -1.5rem;
    border-left: 1px solid fade(@blue-silk, 40%);
  }
}
.year:before {
  content: '';
  position: absolute;
  top: 0;
  left: -1.5rem;
  display: block;
  width: 8px;
  height: 8px;
  margin-left: -4px;
  margin-top: .5rem;
  background-color: #fff;
  border: 1px solid @blue-silk;
  box-sizing: border-box;
  border-radius: 50%;
}

.entry {
  margin-bottom: 1.5rem;
}

.entry-image {
  float: right;
  margin-top: 1rem;
  width: 4rem;
  height: 4rem;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}
.year {
  position: relative;
  .color-light;
  .small;
}
.entry-title {
  .big;
  .color-dark;
  line-height: 1.6em;
  font-family: @font-family;
}
.role {
  color: @accent-medium;
  padding-bottom: .2em;
}
.description {
  .medium;
  line-height: 1.5rem;
}

// LISTS OF ITEMS
ul.raw {
  overflow: hidden;
}
ul.raw > li {
  .small;
  .color-dark;
  display: inline-block;
  float: left;
  margin: .2rem .6rem .2rem 0;
  padding: .3rem .7rem;
  border-radius: 1rem;
  border: 1px solid @blue-silk;
  font-family: @font-family;

  &::before {
    content: '+ ';
    color: @accent-light;
  }
}

// HEADERS FOR SKILLS
h4 {
  position: relative;
  font-family: @font-family;

  > span {
    position: relative;
    background-color: #fff;
    padding-right: 1em;
    z-index: 1;
    display: inline-block;
    .weight-light;
  }

  &:before {
    content: '';
    z-index: 0;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background-color: @accent-medium;
  }
}
#expert:before { width: 100% }
#advanced:before { width: 80% }
#intermediate:before { width: 60% }

// LANGUAGES LIST
.list-title {
  .color-dark;
}
.list-description {
  .weight-light;
}
