/*********************
  LESS FUNCTIONS
*********************/
@font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, sans-serif;
@font-family-special: 'Gudea', @font-family;

/**
 * COLORS
 */
@text: #fff;
@blue-dark: #4376BF;
@blue-light: #599DFF;
@blue-white: #B4B2C5;

/**
 * CLASSES
 */
.border-box {
  box-sizing: border-box;
}

.small  { font-size: .75rem; }
.medium { font-size: .9rem; }
.big    { font-size: 1.2rem; }
.xbig   { font-size: 1.4rem; }

.weight-light { font-weight: 300; }
.weight-normal { font-weight: 400; }
.weight-bold { font-weight: 700; }

.font-special {
    font-family: @font-family-special;
}
::selection {
  background-color: #000;
  color: #fff;
}
img {
  border: none;
}
a {
  outline: none;
  color: inherit;
  text-decoration: none;

  &.u {
    text-decoration: underline;
  }
}

html {
  min-height: 100%; /* Chrome on Android bugfix */
}
body {
  min-height: 100%; /* Chrome on Android bugfix */
  display: block;
  margin: 0;
  padding: 0;
  background: #1d2232 url('../images/background.jpg') center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: @text;
  font-family: @font-family;
  text-align: center;

  z-index: -1;
}
body:before {
  content: '';
  z-index: -1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(37, 41, 47, 0.88);
}
/*********************
  FIXED BG IMAGE
  FOR OLD IEs
*********************/
#background {
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.logo {
  width: 3rem;
  height: 3rem;
  margin: 1rem .5rem .5rem;
}
h1, h2 {
  margin: 1rem 0;
  padding: 0;
  .font-special;
  line-height: 2rem;
}
h1 {
  font-size: 2rem;
  .weight-normal;
}
h2 {
  .xbig;
  .weight-light;
  word-break: break-word;
  color: @blue-dark;
  letter-spacing: 3px;
}

.btn_blog {
  display: inline-block;
  .small;
  .weight-bold;
  outline: none;
  cursor: pointer;
  padding: .5rem .7rem;
  margin: 1rem 0 0 0;
  background-color: @blue-dark;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .5);

  &:hover { background-color: @blue-light; }
}

footer {
  a {
    font-size: 2rem;
    margin: .5rem;
    display: inline-block;
  }
  span {
    display: none;
  }
}

@import "cv.less";
@import "icons.less";

@media screen and (max-width:720px){
  body {
    padding-left: 0;
    padding-right: 0;
    padding-top: 10vh;
    background-position: 0 0;
    background-size: auto 62vh;
  }
  header {
    text-align: left;
  }
  .logo {
    display: none;
  }
  h1, h2 {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .btn_blog {
    margin-left: 2rem;
    margin-top: 0;
  }
  .entry-image {
    width: 3rem;
    height: 3rem;
  }
}
@media screen and (max-width:600px){
  body {
    background-position: 0 0;
    background-size: auto 50vh;
  }
  .entry-image {
    display: none;
  }
}
