/*********************
  LESS FUNCTIONS
*********************/
@font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, sans-serif;
@font-family-special: 'Libre Baskerville', serif;

/**
 * COLORS
 */
@blue-dark: #006ca2;
@blue-light: #8cc5db;
@light: #eeeae1;

/**
 * CLASSES
 */
.border-box {
  box-sizing: border-box;
}
.white-box-wrapper {
  background: @light;
  border-radius: .2rem;
  margin-bottom: 1.5rem;
  padding: 2rem 3rem;
}
.white-box-item {
  margin: 1.5rem 0;
  padding-bottom: 1.5rem;
  border-bottom: 1px dashed @blue-light;

  &:last-child {
    margin-bottom: 0;
    border-bottom: none;
  }
}

.small  { font-size: .75rem; }
.medium { font-size: .9rem; }
.big    { font-size: 1.2rem; }
.xbig   { font-size: 1.4rem; }

.weight-light { font-weight: 300; }
.weight-normal { font-weight: 400; }
.weight-bold { font-weight: 700; }

.center { text-align: center; }

.font-special {
    font-family: @font-family-special;
}
.font-monospace { font-family: monospace; }

::selection {
  background-color: #000;
  color: @light;
}
* {
  word-break: break-word;
}
img {
  border: none;
}
a {
  outline: none;
  color: inherit;
  text-decoration: none;

  &.u {
    text-decoration: underline;
  }
}

body {
  display: block;
  margin: 0;
  padding: 0;
  background-color: @blue-light;
  color: #000;
  font-family: @font-family;
  text-align: center;

  &:after {
    content: '';
    clear: both;
    display: block;
  }
}


.btn_blog {
  display: inline-block;
  color: @blue-dark;
  .small;
  .weight-bold;
  outline: none;
  cursor: pointer;
  padding: 1rem 1.4rem;
  margin: 4vh 0 0 0;
  background-color: @light;
  border-radius: 4px;

  &:hover { color: @blue-light; }
}

footer {
  a {
    font-size: 2rem;
    margin: .5rem;
    display: inline-block;
  }
  span {
    display: none;
  }
}

// Half - half design
header {
  position: sticky;
  top: 0;
  padding-top: 10vh;

  h1, h2 {
    padding: 4vh 0;
    margin: 0;
  }
  h1 {
    .font-special;
    line-height: 3.5rem;
    font-size: 2.5rem;
    .weight-normal;
    color: @blue-dark;
  }
  h2 {
    .xbig;
    line-height: 2rem;
    .weight-light;
    word-break: break-word;
    color: @light;
    letter-spacing: 3px;
  }
}

article, header {
  float: left;
  width: 50%;
  padding-left: 3vw;
  padding-right: 3vw;
  box-sizing: border-box;
}

article {
  margin: 0 auto;
  line-height: 1.4em;
  text-align: left;
  max-width: 720px;

  a {
    text-decoration: none;
    color: inherit;

    &:hover { color: @blue-light; }
  }

  section{
    margin: 0 auto 1.5rem;
  }

  h1 {
    margin: 5rem 0 2rem;
    position: relative;
    .center;
    color: @blue-dark;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  padding: 0 0 1rem 0;
  line-height: 1.5em;
}


// HEADER BORDERS
.h-border {
  position: absolute;
  left: 50%;
  margin-left: -4rem;
  top: -1rem;
  width: 8rem;
  height: .2rem;
  background-color: @blue-dark;
  border-radius: .2rem;
}

// WORK & EDUCATION ENTRIES
.entry {
  line-height: 1.6rem;
}

.entry-image {
  float: right;
  margin-top: 1rem;
  width: 4rem;
  height: 4rem;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}
.year {
  .small;
  color: @blue-dark;
  text-transform: uppercase;
  .weight-bold;
}
.entry-title {
  .weight-bold;
  .font-special;
  .big;
  margin: .5rem 0 1rem 0;
}
.description {
  .medium;
  line-height: 1.1rem;
  .font-monospace;
}


// OPEN-SOURCE
.list-description {
  .medium;
  line-height: 1.1rem;
  .font-monospace;
}

// LINKS
.icon {
  display: block;
  .xbig;
}

.table {
  display: table;
  width: 100%;
  box-sizing: border-box;

  li {
    display: table-cell;
    padding-bottom: 0;
  }
}

@import "icons.less";

@media screen and (max-width:720px){
  header h1 {
    font-size: 1.8rem;
  }
  header {
    position: initial;
  }
  header, article {
    float: none;
    width: 100%;
  }
  .entry-image {
    width: 3rem;
    height: 3rem;
  }
}

@media screen and (max-width:600px){
  .entry-image {
    display: none;
  }
}
