/*********************
  LESS FUNCTIONS
*********************/
@font-family: 'Exo', -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, sans-serif;
@font-family-header: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, sans-serif;

.transition(@time) {
  transition: ~'color @{time}s ease-out';
}

/**
 * COLORS
 */
@text: #fff;
@purple-dark: #6836D8;
@purple-light: #F656FD;
@purple-white: #B4B2C5;

/**
 * CLASSES
 */
.border-box {
  box-sizing: border-box;
}

.xsmall { font-size: .7rem; }
.small  { font-size: .8rem; }
.medium { font-size: .9rem; }
.big    { font-size: 1.2rem; }
.xbig   { font-size: 1.4rem; }

.color-light  { color: #aaa; }
.color-dark   { color: #383740; }

.weight-light { font-weight: 300; }
.weight-normal { font-weight: 400; }
.weight-bold { font-weight: 700; }

.nospace {
  margin: 0;
  padding: 0;
}


::selection {
  background-color: #000;
  color: #fff;
}
img {
  border: none;
}
a {
  outline: none;
  color: inherit;
  text-decoration: none;

  &.u {
    text-decoration: underline;
  }
}

html {
  min-height: 100%; /* Chrome on Android bugfix */
}
body {
  min-height: 100%; /* Chrome on Android bugfix */
  display: block;
  margin: 0;
  padding: 2rem;

  background: #1d2232 url('../images/background.jpg') center no-repeat;
  background-size: cover;
  background-attachment: fixed;

  color: @text;
  font-family: @font-family;
  text-align: center;

  z-index: -1;
}
body:before {
  content: '';
  z-index: -1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(38, 35, 43, 0.8);
}
/*********************
  FIXED BG IMAGE
  FOR OLD IEs
*********************/
#background {
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.logo {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
}
h1 {
  margin: 2rem 0 1rem;
  padding: 0;
  line-height: 2.5rem;
  font-size: 2.5rem;
  font-weight: 400;
}
h2 {
  margin: 1rem 0;
  padding: 0;
  font-size: 1.2rem;
  .weight-light;
  line-height: 2rem;
  word-break: break-word;
  position: relative;
}

.links {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -1rem;
}

.btn_blog {
  display: inline-block;
  color: @purple-white;
  .medium;
  .weight-light;
  outline: none;
  cursor: pointer;
  padding: .5rem 1rem;
  margin: 2rem 0 0 0;
  .transition(.3);
  border: solid .1rem;
  border-radius: 4px;

  &:hover { color: #fff; }
  &:active { color: @purple-light; }
}

.icon:before {
  .transition(.3);
}

footer {
  a {
    font-size: 2rem;
    margin: .5rem;
    display: inline-block;
  }
  span {
    display: none;
  }
}

@import "cv.less";
@import "icons.less";

@media screen and (max-width:720px){
  body {
    padding-left: 0;
    padding-right: 0;
    padding-top: 10vh;
  }
  header {
    text-align: left;
  }
  .logo {
    float: left;
    margin: .5rem 1rem;
  }
  h1 {
    .xbig;
  }
  h2 {
    .medium;
  }
  .btn_blog {
    margin-left: 6rem;
    margin-top: 0;
  }
}
@media screen and (max-width:600px){
  body {
    background-position: 0 0;
    background-size: auto 50vh;
  }
}
